@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: Inter;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  height: 150px;
  margin-bottom: 10px;
}

h1 {
  font-size: 40px;
  background: -webkit-linear-gradient(#3f3f3f, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.statement {
  margin-left: 5px;
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}

.date-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.calc {
  width: 120px;
  height: 50px;
  border: 0;
  border-radius: 10px;
  background-color: #37ad41;
  color: #000000;
  font-size: 25px;
  margin-bottom: 10px;
}

.calc:hover {
  cursor: pointer;
  background-color: #000;
  color: #f01d1d;
  border: 2px solid #f01d1d;
}

.date {
  background-color: #a4a4a4;
  width: 170px;
  height: 40px;
  border-radius: 10px;
  font-size: 22px;
  text-align: center;
}

.result {
  font-weight: bold;
  font-size: 30px;
  color: #d8dfa4;
  display: inline-block;
  border-radius: 10px;
  padding: 5px;
}

.credits {
  /* position: absolute;
  top: 495px; */
  flex-direction: row;
  align-items: center;
  padding-bottom: 80px;
  padding-left: 5px;
  padding-top: 20px;
  display: flex;
  gap: 20px;
  background-color: #2c2c2c;
  color: #b0b0b0;
  width: 100%;
  flex: 0 0 100px;
  margin-top: auto;
}

.credit-text {
  color: #fff;
  width: fit-content;
}

.footer {
  font-weight: normal;
  position: absolute;
  top: 615px;
  right: 10px;
  color: #b0b0b0;
}

.logo {
  height: 40px;
  filter: grayscale();
}
.logo:hover,
.logo:active {
  filter: grayscale(0);
}

.logo-html,
.logo-css,
.logo-js {
  width: fit-content;
}
